<!DOCTYPE HTML>
<html>
	<head>
		<title>First Express</title>
		<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="page-header">
			<h2>My First Express App</h2>	
		</div>
		
		<div class="row">
			<div class="col-md-4 col-offset-2">
				<table class="table">
					<tr>
						<td>
							<a href="/pageOne">Page ONE</a>							
						</td>
						<td>
							<a href="/pageTwo">Page TWO</a>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<script type="text/javaScript" src="./jquery/dist/jquery.min.js"></script>
		<script type="text/javaScript" src="./bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>