<!DOCTYPE HTML>
<html>
	<head>
		<title>Page Two</title>
		<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="page-header">
			<h2>My Page Two</h2>	
		</div>
		
		<div class="row">
			<div class="col-md-4 col-offset-2">
				<table class="table">
					<tr>						
						<td>
							<a href="/">Back</a>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<script type="text/javaScript" src="./jquery/dist/jquery.min.js"></script>
		<script type="text/javaScript" src="./bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>